@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隐藏滚动条但保持功能 */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.feature-icon {
    font-size: 2.5rem;
    margin-bottom: 20px;
}